body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:331px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u10449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:59px;
}
.u10449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:59px;
  display:flex;
}
.u10449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u10449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u10450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 234, 236, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'"Helvetica Neue"', 'Helvetica', '"PingFang SC"', '"Hiragino Sans GB"', '"Microsoft YaHei"', '"微软雅黑"', 'Arial', 'sans-serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u10450 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:10px;
  width:312px;
  height:39px;
  display:flex;
  font-family:'"Helvetica Neue"', 'Helvetica', '"PingFang SC"', '"Hiragino Sans GB"', '"Microsoft YaHei"', '"微软雅黑"', 'Arial', 'sans-serif';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u10450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u10450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10448-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:59px;
}
#u10448-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:59px;
  width:331px;
  height:59px;
}
#u10448-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:331px;
  height:59px;
}
#u10448-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:177px;
  width:331px;
  height:59px;
}
#u10448-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:331px;
  height:59px;
}
#u10448-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:295px;
  width:331px;
  height:59px;
}
#u10448-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:354px;
  width:331px;
  height:59px;
}
#u10448-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:413px;
  width:331px;
  height:59px;
}
#u10448-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:472px;
  width:331px;
  height:59px;
}
#u10448-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:531px;
  width:331px;
  height:59px;
}
#u10448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:590px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
